html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.container {
  width: 100%;
  min-height: 80vh;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    gap: 2rem;
    width: 95%;
    margin: 0 auto;
  }
}

h1 {
  font-size: 4.4rem;
  font-weight: 900;
  margin: 2.5rem 0;
}

.degraded-green {
  color: transparent;
  background: linear-gradient(to right, #1073ba 0%, #00da55 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.dark-mode {
  padding-left: 60.5rem;
}

@media (min-width: 768px) { 
  .dark-mode {
    position: absolute;
    top: 4rem;
    right: 5rem;
  }
}

body.dark {
	background: #292C35;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

img {
  width: 100%;
  display: block;
  height: 100%;
}

.title {
  text-align: center;
}
.animal {
  height: 80vh;
  width: 90vw;
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.cat,
.fox,
.dog {
  height: 90%;
  width: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  background: rgb(243, 250, 243);
  border-radius: 1rem;
}

.item {
  border-radius: 1rem;
}
.get-animals {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 1rem 2rem;
  outline: none;
  background: none;
  border: 0.2rem solid rgb(0, 109, 252);
  font-size: 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

button:hover,
button:focus {
  box-shadow: inset -5.5em 0 0 0 rgb(0, 109, 252), inset 5.5em 0 0 0 rgb(0, 109, 252);
}

button.dark {
  color: #fff;
}
